@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Animasi untuk teks berjalan */
@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

.running-text {
  display: inline-block;
  padding-left: 100%;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.running-text-container {
  width: 100%;
  overflow: hidden;
}
